<a href="https://colab.research.google.com/github/huhreenee/DSTT/blob/main/Harini_Iyer_22_26_08_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name: Harini Iyer

Reg No: 22-26-08

Question 1. Given an array A of N numbers (int), WAP which prints the multiplication of the
elements of array A with the corresponding elements of the reverse of array A.
If A = [1,2,3], then reverse of A will be [3,2,1] and the result should be [3,4,3].

Input Format:
The first line of the input contains a number N The second line of the input contains
N numbers separated by a space. (after the last elements, there is no space)

Output Format:
Print the resultant array of elements separated by a space. (no space after the last
element)

In [ ]:
### Question 1

N = int(input())
A = [int(i) for i in input().split(" ")]

#reversing A
B = []
for i in range(len(A)-1,-1,-1):
  B.append(A[i])
#print(B)

#multiplying array with its reverse
C = []
for i in range(len(A)):
  C.append(A[i]*B[i])
#print(C)

#printing elements without space after the last element
for i in range(len(C)):
  if i == len(C)-1:
    print(C[i])
  else:
    print(C[i],end=" ")

3
1 2 3
3 4 3

Question 2. Given a list of numbers (integers), find second maximum and second minimum in
this list.

Input Format:
The first line contains numbers separated by a space.

Output Format:
Print the second maximum and second minimum separated by a space

In [ ]:
### Question 2

list1 = list(map(int,input().split(" ")))

#sorting list1 without .sort()
for i in range(len(list1)):
  for j in range(len(list1)-1):
    if (list1[j] > list1[j+1]):
      list1[j],list1[j+1] = list1[j+1],list1[j]

#printing second maximum and second minimum using list indexing seperated by space 
print(list1[-2],list1[1])

1 2 3 4 5
4 2

Question 3. Given a list A of numbers (integers),  you have to print those numbers which are not multiples of 5.

Input Format:
The first line contains the numbers of list A separated by a space.

Output Format:
Print the numbers in a single line separated by a space which are not multiples of 5.

Example:

Input:
1 2 3 4 5 6 5

Output:
1 2 3 4 6

Explanation:
Here the elements of A are 1,2,3,4,5,6,5 and since 5 is the multiple of 5, after removing
them the list becomes 1,2,3,4,6.

In [ ]:
### Question 3
A = list(map(int,input().split(" ")))
for ele in A:
  if(ele%5 != 0):
    print(ele,end=" ")

1 2 3 4 5 6 5
1 2 3 4 6

Question 4. 
You are given a number A which contains only digits 0’s and 1’s. Your task is to
make all digits same by just flipping one digit (i.e. 0 to 1 or 1 to 0 ) only. If it is
possible to make all the digits same by just flipping one digit then print ’YES’ else
print ’NO’.

Input Format:
The first line contains a number made up of 0’s and 1’s.

Output Format:
Print ’YES’ or ’NO’ accordingly without quotes.

Example:

Input:
101

Output:
YES

Explanation:
If you flip the middle digit from 0 to 1 then all the digits will become same. Hence
output is YES.

In [ ]:
### Question 4

A = str(input())
z,o = 0,0
for i in range(len(A)):
  if A[i]=='0':
    z+=1
  elif A[i]=='1':
    o+=1

if abs(z-o) == 1:
  print("YES")
else:
  print("NO")

1001
NO

Question 5. Given an integer number n, you have to print the factorial of this number.

Input Format:
A number n.

Output Format:
Print the factorial of n.

Example:

Input:
4

Output:
24

In [ ]:
### Question 5
n = int(input())

def fact(n):
  if(n<0):
    return 
  if(n==0 or n==1):
    return 1
  return n * fact(n-1)

fact(n)

6

720

Question 6. Write a program, which will find all such numbers between m and n (both included)
such that each digit of the number is an even number.

Input Format:
The first line contains value m and n separated by a comma.

Output Format:
The numbers obtained should be printed in a comma-separated sequence on a single
line.

Constraints:
1000<=m<=9000
1000<=n<=9000

In [ ]:
### Question 6
list1=[int(i) for i in input().split(",")]
m=list1[0]
n=list1[1]
even_digits=[]

for i in range(m,n+1):      
   num=i           
   isEven=True 
   while(num!=0):  
       digit=num%10   
       num=num//10    
       if(digit%2!=0):     
           isEven=False   
           break   

   if(isEven):        
       even_digits.append(i)
print(even_digits)

100,500
[200, 202, 204, 206, 208, 220, 222, 224, 226, 228, 240, 242, 244, 246, 248, 260, 262, 264, 266, 268, 280, 282, 284, 286, 288, 400, 402, 404, 406, 408, 420, 422, 424, 426, 428, 440, 442, 444, 446, 448, 460, 462, 464, 466, 468, 480, 482, 484, 486, 488]